<h1>List of all Ingredients</h1>


<ul>
  <% @ingredients.each do |ingredient| %>
  <li>
    <%= link_to ingredient.name, ingredient_path(ingredient.id) %>
  </li>
  <% end %>
</ul>


<%= link_to 'Back to Cocktail\'s list', cocktails_path %>

